.projectPostContainer {
    width: 70%;
}

.projectPostHeader {
    text-align: center;
}

.projectPostCategory {
    display: block;
    font-size: 14px;
    padding: 10px 0;
}

.projectPostTitle {
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-size: 30px;
    margin: 0;
    font-weight: 400;
}

.projectPostPosted {
    font-size: 15px;
    font-style: italic;
    display: block;
    padding: 10px 0;
}

.projectPostImageContainer {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.projectPostImageContainer img {
    max-width: 100%;
    max-height: 100%;
}